* {
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: radial-gradient(gray,black);
    margin: auto;
    position: relative;
}
#mute {
    position: absolute;
    top: 1vmin;
    right: 1vmin;

}

h1{
    margin-block-end: 6vh;
    color: white;
    font-size: 5vmin;
}

h2 {
    margin-block-start: 6vh;
    margin-block-end: 2vh;
    color: white;
    font-size: 5vmin;
}

#play-area {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-block-end: 2vh;
}

#board {
    display: grid;
    grid-template-columns: repeat(2, 25vmin);
    grid-template-rows: repeat(2, 25vmin);
    background-color: lightgrey;
    border-radius: 25%;
}

.color {
    margin: 1vmin;
    border: 2vmin solid black;
}
.glow{
    margin: 1vmin;
    visibility: hidden;
    pointer-events: none;
}


#r {
    grid-column: 2;
    grid-row: 1;
    margin-left: .5vmin;
    margin-bottom: .5vmin;
    background-color: red;
    background-size: contain;
    border-top-right-radius: 50%;
}

#glowR{
    grid-column: 2;
    grid-row: 1;
    z-index: -1;
    border-top-right-radius: 50%;
    margin-bottom: -3vmin;
    margin-left: -3vmin;
    box-shadow: 5vmin -5vmin 5vmin red;
}

#y {
    grid-column: 1;
    grid-row: 1;
    margin-right: .5vmin;
    margin-bottom: .5vmin;
    background-color: yellow;
    background-size: contain;
    border-top-left-radius: 50%;
}

#glowY {
    grid-column: 1;
    grid-row: 1;
    z-index: -1;
    border-top-left-radius: 50%;
    margin-right: -3vmin;
    margin-bottom: -3vmin;
    box-shadow: -5vmin -5vmin 5vmin yellow;
}

#g {
    grid-column: 1;
    grid-row: 2;
    margin-right: .5vmin;
    margin-top: .5vmin;
    background-color: green;
    background-size: contain;
    border-bottom-left-radius: 50%;
}

#glowG {
    grid-column: 1;
    grid-row: 2;
    z-index: -1;
    border-bottom-left-radius: 50%;
    margin-right: -3vmin;
    margin-top: -3vmin;
    box-shadow: -5vmin 5vmin 5vmin green;
}


#b {
    grid-column: 2;
    grid-row: 2;
    margin-left: .5vmin;
    margin-top: .5vmin;
    background-color: blue;
    background-size: contain;
    border-bottom-right-radius: 50%;
}

#glowB {
    grid-column: 2;
    grid-row: 2;
    z-index: -1;
    border-bottom-right-radius: 50%;
    margin-left: -3vmin;
    margin-top: -3vmin;
    box-shadow: 5vmin 5vmin 5vmin blue;
}


button {
    margin-block-start: 2vh;
    margin-block-end: 2vh;
    padding: auto;
    background-color: black;
    color: white;
    border-radius: 2vmin;
    font-size: 4vmin;
}

.unclickable {
    pointer-events: none;
}
