* {
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    height: 100vh;
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

h1 {
    margin-top: 0;
    margin-bottom: 5vmin;
    color: grey;
}

#play-area {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#board {
    display: grid;
    grid-template-columns: repeat(2, 20vmin);
    grid-template-rows: repeat(2, 20vmin);
    background-color: lightgrey;
    border-radius: 25%;
}

.color {
    margin: 1vmin;
    border: 1vmin solid black;

}

#r{
    background-color: red;
    background-size: contain;
    border-top-right-radius: 50%;
}

#y{
    background-color: yellow;
    background-size: contain;
    border-top-left-radius: 50%;
}

#g{
    background-color: green;
    background-size: contain;
    border-bottom-left-radius: 50%;
}

#b{
    background-color: blue;
    background-size: contain;
    border-bottom-right-radius: 50%;
}

#b:active{
    border-color: white;
}

#r:active{
    border-color: white;
}

#y:active{
    border-color: white;
}

#g:active{
    border-color: white;
}





button {
    margin-top: 5vmin;
    padding: 1.5vmin;
    background-color: grey;
    color: white;
    border-radius: 2vmin;
    font-size: 4vmin;
}

.unclickable {
    pointer-events: none;
}

#restart {
    visibility: hidden;
}